{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <img style="height:60px; width: 60px;" src="{% static 'dist/img/logo.png' %}" alt="">
    <a class="navbar-brand" href="/index1"><span class="badge badge-secondary">TECH</span></h1><span
        class="badge badge-pill badge-success">Discussion</span><span class="badge badge-primary">Forum</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link p-3 mb-2 bg-info  text-white" href="/index1">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3 mb-2 bg-info  text-white" href="/student">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3 mb-2 bg-info  text-white" href="/about1">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle p-3 mb-2 bg-info  text-white" href="{% url 'category' %}" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'category' %}">Domain</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'allquestion' %}">GATE Related Questions</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'allquestion' %}">Interview Related Questions</a>

          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3 mb-2 bg-info  text-white" href="/contact1">Contact Us</a>
        </li>
      </ul>
      <div class="mx-4">
        <a class="btn btn-success btn-lg active" href="{% url 'addquestion' %}">Add Question</a>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class="mx-2"></div>
      <!-- Right navbar links -->
    <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
      <li>
        <a href="{% url 'signout' %}" class="btn btn-danger btn-sm"><i class="fas fa-power-off"></i></a>
      </li>

    </ul>

    </div>
  </nav>

<!-- /.navbar -->