{% extends 'base.html' %}

{% block title %}
GATE Related Question
{% endblock title %}

{% block body %}
<br>
    <div class="row">
        <div class="container my-4 col-md-6">
            <a href="/GATE" <h2 style="text-align:center;width:550px;margin-left:200px;border-color:green;border-width:2px"
                class="btn btn-light btn-lg">
                GATE Related Questions
                </h2></a>
        </div>
        <div class="container my-4 col-md-6">
            <a href="/INTERVIEW" <h2 style="text-align:center;width:500px;margin-right:100px"
                class="btn btn-success btn-lg">
                Interview Related Questions
                </h2></a>
        </div>
    </div>
    <hr style="height:2px;border-width:0;margin-top:0;color:green;background-color:green">
    <div class="row">
        <div class="col-md-8">
            <div class="container my-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="text-left">
                            <img class="rounded-circle" src="img/profile.jpg" alt="..." width="100" height="100" <a
                                href="#">
                            <p style="color:mediumblue;">Karan Sharma</p></a>
                            <a href="5 answers.html" <h1><b>What is data science?</b></h1></a>

                        </div>
                        <p class="card-text">"Data science" realized a disciplinary approach to interpreting and
                            analyzing data,
                            both
                            structured and unstructured.
                            To arrive at these conclusions, it relies on techniques such as statistics, mathematics,
                            analytics,
                            programming, and scientific methods.
                            Data science aids in the discovery of trends and patterns in data, allowing stakeholders to
                            make
                            well-informed decisions about their businesses.
                            The data science approach relies on the use of analytical tools and techniques to extract
                            and interpret
                            information. Predictive analysis can be
                            used to help solve complex industrial problems.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-info">Like</button>
                                <button type="button" class="btn btn-sm btn-outline-info">Dislike</button>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-info">34 Views</button>
                                <a href="5 answers.html" <button type="button" class="btn btn-info">5
                                    Answers</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="container my-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="text-primary">Related Questions</p>
                        <hr>
                        >> <a style="color:black;" href="#" <h1><b>Why do you want to become a data analyst?
                            </b>
                            </h1></a>
                        <br>
                        >> <a style="color:black;" href="#" <h1><b>What makes data science interesting to you?
                            </b></h1></a>
                        <br>
                        >> <a style="color:black;" href="#" <h1><b>What is data science?</b></h1></a>
                        <br>
                        >> <a style="color:black;" href="#" <h1><b>What is the best book to learn about web
                                development?</b></h1></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="container">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="text-left">
                            <img class="rounded-circle" src="img/profile.jpg" alt="..." width="100" height="100" <a
                                href="#">
                            <p style="color:mediumblue;">Harry Nelson</p>
                            <a href="6 answers.html" <h1><b>What makes data science interesting to you?</b></h1></a>

                        </div>
                        <p class="card-text">It depends on people! One of the reasons that make data science so exciting
                            is how fast
                            it's growing. But,
                            the thing is one needs to keep learning to stay up-to-date, otherwise, they're falling
                            behind.
                            For me, the thing about data science that makes it more interesting to the current world is
                            its unrivaled
                            presence.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-info">Like</button>
                                <button type="button" class="btn btn-sm btn-outline-info">Dislike</button>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-info">105 Views</button>
                                <a href="6 answers.html" <button type="button" class="btn btn-info">6
                                    Answers</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container my-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="text-primary">Popular Questions</p>
                        <hr>
                        >> <a style="color:black;" href="#" <h1><b>How can we construct a buffer using NAND or NOR
                                gate?</b></h1></a>
                        <br>
                        >> <a style="color:black;" href="#" <h1><b>Why do you want to become a data analyst?
                            </b>
                            </h1></a>
                        <br>
                        >> <a style="color:black;" href="#" <h1><b>What is data science?</b></h1></a>
                        <br>
                        >> <a style="color:black;" href="#" <h1><b>What is the best book to learn about web
                                development?</b></h1></a>
                        <br>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="container my-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="text-left">
                        <img class="rounded-circle" src="img/profile.jpg" alt="..." width="100" height="100" <a
                            href="#">
                        <p style="color:mediumblue;">Karan Sharma</p></a>
                        <a href="5 answers.html" <h1><b>What is data science?</b></h1></a>

                    </div>
                    <p class="card-text">"Data science" realized a disciplinary approach to interpreting and
                        analyzing data,
                        both
                        structured and unstructured.
                        To arrive at these conclusions, it relies on techniques such as statistics, mathematics,
                        analytics,
                        programming, and scientific methods.
                        Data science aids in the discovery of trends and patterns in data, allowing stakeholders to
                        make
                        well-informed decisions about their businesses.
                        The data science approach relies on the use of analytical tools and techniques to extract
                        and interpret
                        information. Predictive analysis can be
                        used to help solve complex industrial problems.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-info">Like</button>
                            <button type="button" class="btn btn-sm btn-outline-info">Dislike</button>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-info">34 Views</button>
                            <a href="5 answers.html" <button type="button" class="btn btn-info">5
                                Answers</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="container my-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="text-left">
                        <img class="rounded-circle" src="img/profile2.jpg" alt="..." width="100" height="100" <a
                            href="#">
                        <p style="color:mediumblue;">Vickey Jones</p>
                        <a href="7 answers.html" <h1><b>Why do you want to become a data analyst?</b></h1></a>

                    </div>
                    <p class="card-text">We are living in a data-boom right now. There’s a wealth of information out
                        there that
                        many people don’t know what to
                        do with, and is ultimately costing them money.By becoming a data analyst you can fill this
                        urgent need to
                        help others (or yourself)
                        gain a competitive advantage in the market place.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-info">Like</button>
                            <button type="button" class="btn btn-sm btn-outline-info">Dislike</button>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-info">89 Views</button>
                            <a href="7 answers.html" <button type="button" class="btn btn-info">7
                                Answers</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="col-md-8">
        <div class="container my-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="text-left">
                        <img class="rounded-circle" src="img/profile2.jpg" alt="..." width="100" height="100" <a
                            href="#">
                        <p style="color:mediumblue;">Amelia Scott</p>
                        <a href="3 answers.html" <h1><b>How can we construct a buffer using NAND or NOR gate?</b></h1>
                        </a>

                    </div>
                    <p class="card-text">two NAND or NOR gates are used to construct a buffer. Expression=input A
                        output=A Eg;
                        Input. Output 0. 0 1. 1</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-info">Like</button>
                            <button type="button" class="btn btn-sm btn-outline-info">Dislike</button>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-info">113 Views</button>
                            <a href="3 answers.html" <button type="button" class="btn btn-info">3 Answers</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="col-md-8">
        <div class="container my-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="text-left">
                        <img class="rounded-circle" src="img/profile2.jpg" alt="..." width="100" height="100" <a
                            href="#">
                        <p style="color:mediumblue;">George Thomas</p>
                        <a href="4 answers.html" <h1><b>What is the best book to learn about web development?</b></h1>
                        </a>

                    </div>
                    <div class="img-fluid">
                        <img src="img/web.jpg" alt="" width="400" height="300">
                    </div>
                    <p class="card-text">After working for few years now in Web Development history , doing some
                        internships and free lance works, I think I might be
                        able to suggest you some good ways to learn Web development .

                        I am myself currently working in a startup and soon to join one of the FAANG company . I
                        think my answer will help you get some good knowledge.

                        Although , here before I explain the way , I would tell you that I feel to master in a skill
                        such as Web Development , I would always recommend
                        a course or videos ( Some practical work ) rather than reading books .</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-info">Like</button>
                            <button type="button" class="btn btn-sm btn-outline-info">Dislike</button>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-info">153 Views</button>
                            <a href="4 answers.html" <button type="button" class="btn btn-info">4 Answers</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}