{% extends 'core/sitebase1.html' %}

{% block title %}
Most Visited
{% endblock title %}

{% block body %}
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://source.unsplash.com/1600x300/?education,question" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>WELCOME TO TECH DISCUSSION FORUM</h2>
          <p>Get Answers for All Your Academic Questions</p>
          <a href="/ECE" <button class="btn btn-danger">ECE</button></a>
          <a href="/CSE" <button class="btn btn-primary">CSE</button></a>
          <a href="/EE" <button class="btn btn-success">EE</button></a>
          <a href="/CE" <button class="btn btn-warning">CE</button></a>
          <a href="/ME" <button class="btn btn-dark">ME</button></a>
        </div>
      </div>

      <div class="carousel-item">
        <img src="https://source.unsplash.com/1600x300/?education,question" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>The Best Question Answer Forum</h2>
          <p>Get Answers for All Your Academic Questions</p>
          <a href="/ECE" <button class="btn btn-danger">ECE</button></a>
          <a href="/CSE" <button class="btn btn-primary">CSE</button></a>
          <a href="/EE" <button class="btn btn-success">EE</button></a>
          <a href="/CE" <button class="btn btn-warning">CE</button></a>
          <a href="/ME" <button class="btn btn-dark">ME</button></a>
        </div>
      </div>

      <div class="carousel-item">
        <img src="https://source.unsplash.com/1600x300/?education,award" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Award Winning Forum</h2>
          <p>Get Answers for All Your Academic Questions</p>
          <a href="/ECE" <button class="btn btn-danger">ECE</button></a>
          <a href="/CSE" <button class="btn btn-primary">CSE</button></a>
          <a href="/EE" <button class="btn btn-success">EE</button></a>
          <a href="/CE" <button class="btn btn-warning">CE</button></a>
          <a href="/ME" <button class="btn btn-dark">ME</button></a>
        </div>
      </div>
    </div>
<br>

<a href="/recent question" class="btn btn-light btn-lg" role="button" aria-pressed="true">Recent
    Questions</a>
<a href="/most answer" class="btn btn-light btn-lg" role="button" aria-pressed="true">Most Answered</a>
<a href="/answers" class="btn btn-light btn-lg" role="button" aria-pressed="true">Answers</a>
<a href="/no answer" class="btn btn-light btn-lg" role="button" aria-pressed="true">No Answers</a>
<a href="/most visited" class="btn btn-info btn-lg active" role="button" aria-pressed="true">Most
    Visited</a>
<hr style="height:2px;border-width:0;margin-top:0;color:aqua;background-color:aqua">

<div class="container my-4">
    <div class="row">

        <div class="col-md-8">
            <div class="container my-4">
            <div class="card border-primary md-8" style="max-width: 45rem;">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="text-left">
                            <img class="rounded-circle" src="img/profile.jpg" alt="..." width="100" height="100" <a
                                href="#">
                            <p style="color:mediumblue;">Karan Sharma</p>
                            <a href="3 answers.html" <h1><b>How can we construct a buffer using NAND or NOR
                                    gate?</b></h1></a>

                        </div>
                        <p class="card-text">two NAND or NOR gates are used to construct a buffer.
                            Expression=input
                            A
                            output=A Eg;
                            Input. Output 0. 0 1. 1</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-info">Like</button>
                                <button type="button" class="btn btn-sm btn-outline-info">Dislike</button>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-info">875 Views</button>
                                <a href="3 answers.html" <button type="button" class="btn btn-info">3
                                    Answers</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>



        <div class="col-md-4">
            <div class="container my-4">
            <div class="card border-primary md-8" style="max-width: 45rem;">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="text-primary">Related Questions</p>
                       <hr style="height:2px;border-width:0;margin-top:0;color:skyblue;background-color:skyblue">
                        >> <a style="color:black;" href="#" <h1><b>Why do you want to become a data analyst?
                            </b>
                            </h1></a>
                        <br>
                        >> <a style="color:black;" href="#" <h1><b>What makes data science interesting to you?
                            </b></h1></a>
                        <br>
                        >> <a style="color:black;" href="#" <h1><b>What is data science?</b></h1></a>
                        <br>
                        >> <a style="color:black;" href="#" <h1><b>What is the best book to learn about web
                                development?</b></h1></a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="card border-primary md-8" style="max-width: 45rem;">
            <div class="col-md-8">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="text-left">
                            <img class="rounded-circle" src="img/profile2.jpg" alt="..." width="100" height="100" <a
                                href="#">
                            <p style="color:mediumblue;">Karan Sharma</p>
                            <a href="6 answers.html" <h1><b>What makes data science interesting to you?</b></h1></a>

                        </div>
                        <p class="card-text">It depends on people! One of the reasons that make data science so
                            exciting
                            is how fast
                            it's growing. But,
                            the thing is one needs to keep learning to stay up-to-date, otherwise, they're falling
                            behind.
                            For me, the thing about data science that makes it more interesting to the current world
                            is
                            its unrivaled
                            presence.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-info">Like</button>
                                <button type="button" class="btn btn-sm btn-outline-info">Dislike</button>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-info">734 Views</button>
                                <a href="6 answers.html" <button type="button" class="btn btn-info">6
                                    Answers</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="card border-primary md-8" style="max-width: 45rem;">
            <div class="col-md-8">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="text-left">
                            <img class="rounded-circle" src="img/profile2.jpg" alt="..." width="100" height="100" <a
                                href="#">
                            <p style="color:mediumblue;">Karan Sharma</p>
                            <a href="7 answers.html" <h1><b>Why do you want to become a data analyst?</b></h1></a>

                        </div>
                        <p class="card-text">We are living in a data-boom right now. There’s a wealth of information
                            out
                            there that
                            many people don’t know what to
                            do with, and is ultimately costing them money.By becoming a data analyst you can fill
                            this
                            urgent need to
                            help others (or yourself)
                            gain a competitive advantage in the market place.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-info">Like</button>
                                <button type="button" class="btn btn-sm btn-outline-info">Dislike</button>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-info">576 Views</button>
                                <a href="7 answers.html" <button type="button" class="btn btn-info">7
                                    Answers</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="card border-primary md-8" style="max-width: 45rem;">
            <div class="col-md-8">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="text-left">
                            <img class="rounded-circle" src="img/profile2.jpg" alt="..." width="100" height="100" <a
                                href="#">
                            <p style="color:mediumblue;">Karan Sharma</p>
                            <a href="4 answers.html" <h1><b>What is the best book to learn about web
                                    development?</b></h1></a>

                        </div>
                        <div class="img-fluid">
                            <img src="img/web.jpg" alt="" width="400" height="300">
                        </div>
                        <p class="card-text">After working for few years now in Web Development history , doing some
                            internships and
                            free lance works, I think I might be
                            able to suggest you some good ways to learn Web development .

                            I am myself currently working in a startup and soon to join one of the FAANG company . I
                            think my answer
                            will help you get some good knowledge.

                            Although , here before I explain the way , I would tell you that I feel to master in a
                            skill
                            such as Web
                            Development , I would always recommend
                            a course or videos ( Some practical work ) rather than reading books .</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-info">Like</button>
                                <button type="button" class="btn btn-sm btn-outline-info">Dislike</button>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-info">398 Views</button>
                                <a href="4 answers.html" <button type="button" class="btn btn-info">4
                                    Answers</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="card border-primary md-8" style="max-width: 45rem;">
            <div class="col-md-8">
                <div class="card shadow-md">
                    <div class="card-body">
                        <div class="text-left">


                            <img class="rounded-circle" src="img/profile2.jpg" alt="..." width="100" height="100" <a
                                href="#">
                            <p style="color:mediumblue;">Karan Sharma</p></a>
                            <hr>
                            <a href="5 answers.html" <h1><b>What is data science?</b></h1></a>


                        </div>
                        <p class="card-text">"Data science" realized a disciplinary approach to interpreting and
                            analyzing data,
                            both
                            structured and unstructured.
                            To arrive at these conclusions, it relies on techniques such as statistics, mathematics,
                            analytics,
                            programming, and scientific methods.
                            Data science aids in the discovery of trends and patterns in data, allowing stakeholders
                            to make
                            well-informed decisions about their businesses.
                            The data science approach relies on the use of analytical tools and techniques to
                            extract and
                            interpret
                            information. Predictive analysis can be
                            used to help solve complex industrial problems.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-info">Like</button>
                                <button type="button" class="btn btn-sm btn-outline-info">Dislike</button>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-info">256 Views</button>
                                <a href="5 answers.html" <button type="button" class="btn btn-info">5
                                    Answers</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock body %}