{% extends 'core/sitebase1.html' %}

{% block title %}
No Answer
{% endblock title %}

{% block body %}
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://source.unsplash.com/1600x300/?education,question" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>WELCOME TO TECH DISCUSSION FORUM</h2>
          <p>Get Answers for All Your Academic Questions</p>
          <a href="/ECE" <button class="btn btn-danger">ECE</button></a>
          <a href="/CSE" <button class="btn btn-primary">CSE</button></a>
          <a href="/EE" <button class="btn btn-success">EE</button></a>
          <a href="/CE" <button class="btn btn-warning">CE</button></a>
          <a href="/ME" <button class="btn btn-dark">ME</button></a>
        </div>
      </div>

      <div class="carousel-item">
        <img src="https://source.unsplash.com/1600x300/?education,question" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>The Best Question Answer Forum</h2>
          <p>Get Answers for All Your Academic Questions</p>
          <a href="/ECE" <button class="btn btn-danger">ECE</button></a>
          <a href="/CSE" <button class="btn btn-primary">CSE</button></a>
          <a href="/EE" <button class="btn btn-success">EE</button></a>
          <a href="/CE" <button class="btn btn-warning">CE</button></a>
          <a href="/ME" <button class="btn btn-dark">ME</button></a>
        </div>
      </div>

      <div class="carousel-item">
        <img src="https://source.unsplash.com/1600x300/?education,award" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Award Winning Forum</h2>
          <p>Get Answers for All Your Academic Questions</p>
          <a href="/ECE" <button class="btn btn-danger">ECE</button></a>
          <a href="/CSE" <button class="btn btn-primary">CSE</button></a>
          <a href="/EE" <button class="btn btn-success">EE</button></a>
          <a href="/CE" <button class="btn btn-warning">CE</button></a>
          <a href="/ME" <button class="btn btn-dark">ME</button></a>
        </div>
      </div>
    </div>
<br>
<a href="/recent question" class="btn btn-light btn-lg" role="button" aria-pressed="true">Recent
    Questions</a>
<a href="/most answer" class="btn btn-light btn-lg" role="button" aria-pressed="true">Most
    Answered</a>
<a href="/answers" class="btn btn-light btn-lg" role="button" aria-pressed="true">Answers</a>
<a href="/no answer" class="btn btn-info btn-lg active" role="button" aria-pressed="true">No Answers</a>
<a href="/most visited" class="btn btn-light btn-lg" role="button" aria-pressed="true">Most Visited</a>
<hr style="height:2px;border-width:0;margin-top:0;color:aqua;background-color:aqua">


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="container my-4">
                <div class="card border-primary md-8" style="max-width: 45rem;">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="text-left">
                                <img class="rounded-circle" src="img/profile.jpg" alt="..." width="100" height="100" <a
                                    href="#">
                                <p style="color:mediumblue;">Karan Sharma</p></a>
                                <h1><b>How much do web developers earn? What is their salary?</b>
                                </h1>
                                <p>
                                    I am thinking of pursuing web developing as a career & was just wondering. I’ve
                                    heard
                                    that that location is a big factor when
                                    it comes to salary of web developers. Kindly state: 1) Country 2) Salary
                                    Monthly/Yearly
                                    3) Years of experience.
                                    P.s) You can ...
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-info">Like</button>
                                        <button type="button" class="btn btn-sm btn-outline-info">Dislike</button>
                                    </div>
                                    <div class="text-right">
                                        <button type="button" class="btn btn-info">23 Views</button>
                                        <button type="button" class="btn btn-info">0
                                            Answers</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="container my-4">
                <div class="card border-primary md-8" style="max-width: 45rem;">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="text-primary">Related Questions</p>
                            <hr style="height:2px;border-width:0;margin-top:0;color:skyblue;background-color:skyblue">
                            >> <a style="color:black;" href="#" <h1><b>Why do you want to become a data analyst?
                                </b>
                                </h1></a>
                            <br>
                            >> <a style="color:black;" href="#" <h1><b>What makes data science interesting to you?
                                </b></h1></a>
                            <br>
                            >> <a style="color:black;" href="#" <h1><b>What is data science?</b></h1></a>
                            <br>
                            >> <a style="color:black;" href="#" <h1><b>What is the best book to learn about web
                                    development?</b></h1></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="container my-4">
            <div class="card border-primary md-8" style="max-width: 45rem;">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="text-left">
                            <img class="rounded-circle" src="img/profile2.jpg" alt="..." width="100" height="100" <a
                                href="#">
                            <p style="color:mediumblue;">Karan Sharma</p></a>
                            <h1><b>What are your thoughts on Google Analytics vs other
                                    analytics platforms?</b></h1>

                        </div>
                        <p>
                            Recently heard about Heap which seems pretty cool, but I’m not sure if it would really
                            be
                            valuable, or simply another tool that I need to check.
                            We are not at the point of using HubSpot/Marketo yet so Heap’s free ...
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-info">Like</button>
                                <button type="button" class="btn btn-sm btn-outline-info">Dislike</button>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-info">167 Views</button>
                                <button type="button" class="btn btn-info">0
                                    Answers</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="container my-4">
            <div class="card border-primary md-8" style="max-width: 45rem;">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="text-left">
                            <img class="rounded-circle" src="img/profile2.jpg" alt="..." width="100" height="100" <a
                                href="#">
                            <p style="color:mediumblue;">Karan Sharma</p></a>
                            <h1><b>What is a programmer’s life like?</b></h1>

                        </div>
                        <p>
                            How is their personal life, family life, friends, work environment and everything that
                            you
                            can think that
                            a programmer does throughout the day?
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-info">Like</button>
                                <button type="button" class="btn btn-sm btn-outline-info">Dislike</button>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-info">97 Views</button>
                                <button type="button" class="btn btn-info">0
                                    Answers</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="container my-4">
            <div class="card border-primary md-8" style="max-width: 45rem;">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="text-left">
                            <img class="rounded-circle" src="img/profile2.jpg" alt="..." width="100" height="100" <a
                                href="#">
                            <p style="color:mediumblue;">Karan Sharma</p></a>
                            <h1><b>How to approach applying for a job at a company owned by a
                                    friend?</b></h1>

                        </div>
                        <p>
                            Participate in the referendum, Please.
                        </p>
                        <div class="img-fluid">
                            <img src="img/job.jpg" alt="" width="400" height="300">
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-info">Like</button>
                                <button type="button" class="btn btn-sm btn-outline-info">Dislike</button>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-info">157 Views</button>
                                <button type="button" class="btn btn-info">0
                                    Answers</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="container my-4">
            <div class="card border-primary md-8" style="max-width: 45rem;">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="text-left">
                            <img class="rounded-circle" src="img/profile2.jpg" alt="..." width="100" height="100" <a
                                href="#">
                            <p style="color:mediumblue;">Karan Sharma</p></a>
                            <h1><b>How do I tell my new employer that I can’t use the computer
                                    they gave me?</b></h1>

                        </div>
                        <p>
                            Unless your company explicitly has a BYOD policy (Bring Your Own Device), do not in any
                            circumstances
                            use your own machine for company usage.
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-info">Like</button>
                                <button type="button" class="btn btn-sm btn-outline-info">Dislike</button>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-info">173 Views</button>
                                <button type="button" class="btn btn-info">0
                                    Answers</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="container my-4">
            <div class="card border-primary md-8" style="max-width: 45rem;">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="text-primary">Leave An Answer</p>
                       <hr style="height:2px;border-width:0;margin-top:0;color:skyblue;background-color:skyblue">
                        <div class="form-group">
                            <label>Full Name:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                required>
                        </div>
                        <label for="exampleInputEmail1">Email address:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            required>

                        <div class="form-group">
                            <label for="exampleFormControlFile1">Upload Image</label>
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>

                        <div class="form-group text-primary">
                            <label for="exampleFormControlTextarea1">Answer</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <label for="exampleInputEmail1">Terms</label>
                        <div class="form-check">

                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                By answering, you agree to the Terms of Service and Privacy Policy.
                            </label>
                        </div>

                        <button type="button" class="btn btn-primary btn-lg btn-block">Post Your Answer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}